################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NetSearch/bin
/NetSearch/obj
/NetSearchConsole/bin
/NetSearchConsole/obj
/publish_nuget.bat
